/* CSS REMEDY */
*, *::after, *::before {
    box-sizing:border-box;  
    font-family: 'SF Pro';
}

button, summary {
    cursor: pointer;
}



/* FONTS */
@font-face {
    font-family: 'SF-Pro Display Regular';
    src: url(../fonts/SF-Pro-Display-Regular.otf) format('opentype');
}

@font-face {
    font-family: 'SF Pro';
    src: url(../fonts/SF-Pro.ttf) format('truetype');
}  

@font-face {
    font-family: 'SF Pro Text' ;
    src: url(../fonts/SF-Pro-Text-Light.otf) format('opentype');
}


  

/* CUSTOM PROPERTIES */
:root {
    /* Header */
    --header-color1: rgba(0,0,0,0.8);
    --header-color2: #6e6e73;

    /* Nav */
    --p-nav-color: #CCCCCC;

    /* Hamburgermenu */
    --burger-button-color: #6e6e73;
    --searchbar-color: #1D1D1F; 
    --burger-lines-color: #424245;
    --burgerground-color: black; 

    /* Zoekbalk */
    --label-color: #1F74C5;

    /* Main */
    --p-color:black;
    --p-color2: white;
    --background-color1:white;
    --background-color2: black;   

    /* Footer */
    --p-footer: #6e6e73;
    --background-footer: #F5F5F7;
    --border-footer: #D2D2D7;

    /* linkjes */
    --a-color: #06c;

    /* Button */
    --carbutton-klein: rgba(0,0,0,0.16);
    --carbutton-klein-hover: rgba(0,0,0,0.25);
    --carbutton-klein-active: rgba(0,0,0,0.56);
    --button-hover: #FFABBB;
    --button-focus: #FF5B7A;
    --button-active: #ff123e;

    /* Outline focus state */
    --form-border-active: rgba(0, 125, 250, 0.6);
}



/* MAIN */
section.wit {
    background-color: var(--background-color1);
    color: var(--p-color);
}

section.zwart {
    background-color: var(--background-color2);
    color: var(--p-color2);
}

section.product {
    position: relative;
    overflow: hidden;
    height: 30em;
}

section.product div {
    position: absolute;
    top:2em;
    left:0;
    right:0;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap:1em;
}

section.product div h2  {
   width:100%;
   margin:0;
}
  
section.product div p{
    width:100%;
    margin:0;

    display:flex;
    justify-content: center;
    align-items: center;
    gap:.25em;
}

section.product div p:first-of-type {
    margin-top:.5em;
}

section.product div p:last-of-type {
    margin-bottom:1em;
}

section.product div p img{
    width:2em;
}

section.product div a::after {
    content:" >";
}

section.product > a {
    display:block;
    height:100%;
}

section.product > a img {
    display:block;
    width:100%;
    height:100%;
    object-fit: cover;
    object-position: center bottom;
}


/* MIN WITH 45EM */
@media (min-width:45em) {
    main {
        display: grid;
        grid-template-columns:1fr 1fr;
        gap:0.5em;
    }

    /* Eerste 3 secties (blijven breed) */
    main section:nth-of-type(1), 
    main section:nth-of-type(2), 
    main section:nth-of-type(3), 
    .carousel {
        grid-column-start: 1;
        grid-column-end: -1;
    }
    main section.product:nth-of-type(1), 
    main section.product:nth-of-type(2), 
    main section.product:nth-of-type(3) {
        position: relative;
        overflow: hidden;
        height: 40em;
    }

    main section:nth-of-type(1) h2, 
    main section:nth-of-type(2) h2, 
    main section:nth-of-type(3) h2  {
        font-size: 3em ;
    }

    main section:nth-of-type(1) p, 
    main section:nth-of-type(2) p, 
    main section:nth-of-type(3) p  {
        font-size: 1.5em;
    }

    section.product:nth-of-type(1) > a img, 
    section.product:nth-of-type(2) > a img, 
    section.product:nth-of-type(3) > a img {
        object-fit: contain;
        object-position: center bottom;
    }
}



    


/******************************/
/* DE CAROCARROUSEL CONTAINER */
/******************************/

.caroCarrousel {
    --caroCarrouselBolletjeColor:#0003;
    --caroCarrouselBolletjeColorActive:#0009;
    --caroCarrouselBolletjeColorFocus:rgb(0 125 250 / 0.6);

    --caroCarrouselPauseColor:#000;
    --caroCarrouselPauseTimerColor:#0003;

    --caroCarrouselPrevNextColor:#0009;

    --caroCarrouselAutoScrollInterval:4000;

    position: relative;
    overflow: hidden;
    outline:none;

    padding:0 0 2.5em;

    grid-column: 1/-1;
}


/****************/
/* DE BOLLETJES */
/****************/

/* de bolletjes container */
.caroCarrousel nav ul {
    position: absolute;
    left: 2em;
    right: 2em;
    bottom: 1em;
    margin: 0;
    padding: 0;
    list-style: none;

    display: flex;
    justify-content: center;
    gap:1em;
}

/* een bolletje container */
.caroCarrousel > nav li {
	flex-basis: .5em;
	aspect-ratio: 1/1;
}

/* de bolletjes */
.caroCarrousel > nav a {
    display: block;
    width:100%;
    height:100%;

    text-decoration: none;
    background-color: var(--caroCarrouselBolletjeColor);
    border-radius: 50%;
    outline: none;

    transition: 0.5s;
}

.caroCarrousel > nav a:focus {
    box-shadow:0 0 0 .25em var(--caroCarrouselBolletjeColorFocus);
}

.caroCarrousel > nav a.current {
  background-color: var(--caroCarrouselBolletjeColorActive);
}

/* STATES - Bolletjes */
    /* Hover */
.caroCarrousel > nav a.current {
  background-color: var(--caroCarrouselBolletjeColorActive);
}

.caroCarrousel > nav a:hover {
    background-color: var(--button-hover);
}

.caroCarrousel > nav a:focus {
    box-shadow:0 0 0 .15em var(--button-active);
}

.caroCarrousel > nav a:active{   
    box-shadow:0 0 0 .15em var(--button-active);
}



/****************************/
/* PREV EN NEXT LINKBUTTONS */
/****************************/
.caroCarrousel > a {
    position: absolute;
    width: 3em;
    aspect-ratio:1/1;
    top: calc(50% - 1.5em);

    color: var(--caroCarrouselPrevNextColor);
    outline: none;

    display:grid;
    place-items:center;

    transition: 0.5s;
}

/* initieel staan de links "buiten beeld" */
.caroCarrousel > a[href="previous"] {
    left:3.5em;        
}
.caroCarrousel > a[href="next"] {
    right:3.5em;
}

/* prev en next linkbuttons pijltjes */
.caroCarrousel > a::before,
.caroCarrousel > a::after {
  content: "";
  position: absolute;
  width: 1em; height: 3px;
  background-color: currentColor;
}

.caroCarrousel > a[href=previous]::before {
	transform-origin: 1.5px center;
	transform: translateY(0) rotate(45deg);
}
.caroCarrousel > a[href=previous]::after {
	transform-origin: 1.5px center;
	transform: translateY(0) rotate(-45deg);
}

.caroCarrousel > a[href=next]::before {
	transform-origin: calc(100% - 1.5px) center;
	transform: translateY(0) rotate(45deg);
}
.caroCarrousel > a[href=next]::after {
	transform-origin: calc(100% - 1.5px) center;
	transform: translateY(0) rotate(-45deg);
}

.caroCarrousel > a:focus {
    box-shadow:inset 0 0 0 .25em var(--caroCarrouselBolletjeColorFocus);
}


/* STATES - Prev en next button */
    /* Hover */
.caroCarrousel > a:hover {
    text-decoration: none;
    background-color: var(--button-hover);
}
    /* Focus */
.caroCarrousel > a:focus {
    background-color: var(--button-hover);
    box-shadow:inset 0 0 0 .15em var(--button-active);
}
    /* Active */
.caroCarrousel > a:active {
    text-decoration: none;
    background-color: var(--button-hover);
    box-shadow: inset 0 0 1em .2em var(--button-active);
}


/*********************/
/* PLAY/PAUSE BUTTON */
/*********************/

.caroCarrousel > button {
    position: absolute;
    right: 2em;
    bottom: .6em;

    width: 1.3em;
    aspect-ratio:1/1;
    padding:0;

    font-size:1em;
    appearance: none;
    border: none;
    border-radius: 50%;
    background:none;
    outline: none;
    box-shadow: inset 0 0 0 2px currentColor;
    cursor: pointer;

    transition: 0.5s;

    display: flex;
    justify-content: center;
    align-items: center;
}

.caroCarrousel > button:focus {
    box-shadow:0 0 0 .25em var(--caroCarrouselBolletjeColorFocus);
}

/* STATES - Play/pause button */
    /* Hover */
.caroCarrousel > button:hover {
    background-color: var(--button-hover);
}
    /* Focus */
.caroCarrousel > button:focus {
    background-color: var(--button-hover);
    box-shadow:0 0 0 .15em var(--button-active);
}
    /* Active */
.caroCarrousel div a:active {
    text-decoration: none;
    background-color: var(--button-hover);
    box-shadow: inset 0 0 1em .2em var(--button-active);
}


/* play/pause button */
.caroCarrousel > button::before,
.caroCarrousel > button::after {
    content: "";
    position: absolute;
    width: .5em; height: 2px;
    background-color: currentColor;
    transform-origin: calc(100% - 1px) center;
    transition:transform 0.5s;
}

/* indien niet aan het auto-scrollen */
/* de streepjes vormen een play-icoon */
.caroCarrousel > button::before {
	transform: translateY(0) rotate(45deg);
}
.caroCarrousel > button::after {
	transform: translateY(0) rotate(-45deg);
}

/* indien aan het auto-scrollen */
/* de streepjes vormen een pauze-icoon */
.caroCarrousel.autoScrolling > button::before {
	transform: translateY(-2px);
}
.caroCarrousel.autoScrolling > button::after {
	transform: translateY(2px);
}

/* in de button draait een 'eierwekker' */
.caroCarrousel.autoScrolling > button {
    animation-name: carrouselAutoScrollingButton;
    animation-duration: calc(var(--caroCarrouselAutoScrollInterval) * 1ms);
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes carrouselAutoScrollingButton {
	0%{ background-image: conic-gradient(var(--caroCarrouselPauseTimerColor) 0%, transparent 0%); }
	2%{ background-image: conic-gradient(var(--caroCarrouselPauseTimerColor) 2%, transparent 0%); }
	4%{ background-image: conic-gradient(var(--caroCarrouselPauseTimerColor) 4%, transparent 0%); }
	6%{ background-image: conic-gradient(var(--caroCarrouselPauseTimerColor) 6%, transparent 0%); }
	8%{ background-image: conic-gradient(var(--caroCarrouselPauseTimerColor) 8%, transparent 0%); }
	
	10%{ background-image: conic-gradient(var(--caroCarrouselPauseTimerColor) 10%, transparent 0%); }
	12%{ background-image: conic-gradient(var(--caroCarrouselPauseTimerColor) 12%, transparent 0%); }
	14%{ background-image: conic-gradient(var(--caroCarrouselPauseTimerColor) 14%, transparent 0%); }
	16%{ background-image: conic-gradient(var(--caroCarrouselPauseTimerColor) 16%, transparent 0%); }
	18%{ background-image: conic-gradient(var(--caroCarrouselPauseTimerColor) 18%, transparent 0%); }

	20%{ background-image: conic-gradient(var(--caroCarrouselPauseTimerColor) 20%, transparent 0%); }
	22%{ background-image: conic-gradient(var(--caroCarrouselPauseTimerColor) 22%, transparent 0%); }
	24%{ background-image: conic-gradient(var(--caroCarrouselPauseTimerColor) 24%, transparent 0%); }
	26%{ background-image: conic-gradient(var(--caroCarrouselPauseTimerColor) 26%, transparent 0%); }
	28%{ background-image: conic-gradient(var(--caroCarrouselPauseTimerColor) 28%, transparent 0%); }

	30%{ background-image: conic-gradient(var(--caroCarrouselPauseTimerColor) 30%, transparent 0%); }
	32%{ background-image: conic-gradient(var(--caroCarrouselPauseTimerColor) 32%, transparent 0%); }
	34%{ background-image: conic-gradient(var(--caroCarrouselPauseTimerColor) 34%, transparent 0%); }
	36%{ background-image: conic-gradient(var(--caroCarrouselPauseTimerColor) 36%, transparent 0%); }
	38%{ background-image: conic-gradient(var(--caroCarrouselPauseTimerColor) 38%, transparent 0%); }

	40%{ background-image: conic-gradient(var(--caroCarrouselPauseTimerColor) 40%, transparent 0%); }
	42%{ background-image: conic-gradient(var(--caroCarrouselPauseTimerColor) 42%, transparent 0%); }
	44%{ background-image: conic-gradient(var(--caroCarrouselPauseTimerColor) 44%, transparent 0%); }
	46%{ background-image: conic-gradient(var(--caroCarrouselPauseTimerColor) 46%, transparent 0%); }
	48%{ background-image: conic-gradient(var(--caroCarrouselPauseTimerColor) 48%, transparent 0%); }

	50%{ background-image: conic-gradient(var(--caroCarrouselPauseTimerColor) 50%, transparent 0%); }
	52%{ background-image: conic-gradient(var(--caroCarrouselPauseTimerColor) 52%, transparent 0%); }
	54%{ background-image: conic-gradient(var(--caroCarrouselPauseTimerColor) 54%, transparent 0%); }
	56%{ background-image: conic-gradient(var(--caroCarrouselPauseTimerColor) 56%, transparent 0%); }
	58%{ background-image: conic-gradient(var(--caroCarrouselPauseTimerColor) 58%, transparent 0%); }

	60%{ background-image: conic-gradient(var(--caroCarrouselPauseTimerColor) 60%, transparent 0%); }
	62%{ background-image: conic-gradient(var(--caroCarrouselPauseTimerColor) 62%, transparent 0%); }
	64%{ background-image: conic-gradient(var(--caroCarrouselPauseTimerColor) 64%, transparent 0%); }
	66%{ background-image: conic-gradient(var(--caroCarrouselPauseTimerColor) 66%, transparent 0%); }
	68%{ background-image: conic-gradient(var(--caroCarrouselPauseTimerColor) 68%, transparent 0%); }

	70%{ background-image: conic-gradient(var(--caroCarrouselPauseTimerColor) 70%, transparent 0%); }
	72%{ background-image: conic-gradient(var(--caroCarrouselPauseTimerColor) 72%, transparent 0%); }
	74%{ background-image: conic-gradient(var(--caroCarrouselPauseTimerColor) 74%, transparent 0%); }
	76%{ background-image: conic-gradient(var(--caroCarrouselPauseTimerColor) 76%, transparent 0%); }
	78%{ background-image: conic-gradient(var(--caroCarrouselPauseTimerColor) 78%, transparent 0%); }

	80%{ background-image: conic-gradient(var(--caroCarrouselPauseTimerColor) 80%, transparent 0%); }
	82%{ background-image: conic-gradient(var(--caroCarrouselPauseTimerColor) 82%, transparent 0%); }
	84%{ background-image: conic-gradient(var(--caroCarrouselPauseTimerColor) 84%, transparent 0%); }
	86%{ background-image: conic-gradient(var(--caroCarrouselPauseTimerColor) 86%, transparent 0%); }
	88%{ background-image: conic-gradient(var(--caroCarrouselPauseTimerColor) 88%, transparent 0%); }

	90%{ background-image: conic-gradient(var(--caroCarrouselPauseTimerColor) 90%, transparent 0%); }
	92%{ background-image: conic-gradient(var(--caroCarrouselPauseTimerColor) 92%, transparent 0%); }
	94%{ background-image: conic-gradient(var(--caroCarrouselPauseTimerColor) 94%, transparent 0%); }
	96%{ background-image: conic-gradient(var(--caroCarrouselPauseTimerColor) 96%, transparent 0%); }
	98%{ background-image: conic-gradient(var(--caroCarrouselPauseTimerColor) 98%, transparent 0%); }
	
	100%{ background-image: conic-gradient(var(--caroCarrouselPauseTimerColor) 100%, transparent 0%); }
}


/************************************/
/* de carrousel elementen container */
/************************************/
.caroCarrousel > ul {
    margin: 0; padding: 0;
    list-style: none;
    display: flex;
    gap:1em;

    /* handmatig scrollen is mogelijk */
    overflow: hidden;

    /* snappen als er gescrolled wordt - andere helft bij li */
    scroll-snap-type: inline mandatory;

    /* smooth scrollen */
    scroll-behavior: smooth;

    /* scrollbar zoveel mogelijk verbergen */
    -webkit-overflow-scrolling: touch; /* voor iOS*/
    -ms-overflow-style: none; /* voor IE */
    scrollbar-width: none; /* voor firefox */
}

.caroCarrousel > ul::-webkit-scrollbar {
    /* scrollbar zoveel mogelijk verbergen */
    display: none; /* voor chrome, safari en edge*/
}


/**************************/
/* de carrousel elementen */
/**************************/
.caroCarrousel > ul li {
    position: relative;

    width: 17.5em;
    height: 32em;
    flex-shrink: 0;
    /* snappen als er gescrolled wordt - andere helft bij ul */
    scroll-snap-align:center;

    transition: filter .5s;
}

.caroCarrousel > ul li:not(.current) {
    filter:grayscale(.75) contrast(.75) opacity(.3);
}


/**********************************/
/* de carrousel elementen content */
/**********************************/
.caroCarrousel li div {
    position: absolute;
    inset:0;
    padding:2em 1em;

    display: grid;
    grid-template-rows:max-content 1fr max-content max-content max-content;
    justify-items:center;
}

/* apple tv+ */
.caroCarrousel li div > img:nth-of-type(1){
    width: 4.25em;
}

/* titel */
.caroCarrousel li div img:nth-of-type(2) {
    width: 90%;
    margin-top:1em;
}

/* genre en omschrijving */
.caroCarrousel li div h3, 
.caroCarrousel li div p {
    margin:0;
    text-align: center;
    color: var(--p-color2);
    font-size: 1em;
}

.caroCarrousel li h3 {
    order:30;
}

.caroCarrousel li p {
    order: 40;
}

/* stream nu button */
.caroCarrousel li div a {
    order: 50;

    margin-top:1em;
    padding:.75em 1.25em;

    display: flex;
    justify-content: center;
    align-items: center;
    gap:.25em;

    color: var(--p-color);
    background-color: var(--p-color2);
    border-radius: 2em;

    font-size: 1em;
    font-weight: bold;
}

.caroCarrousel li div a img {
    height: 1.5em;
}

/* STATES - stream nu button */
.caroCarrousel div a:hover {
    text-decoration: none;
    background-color: var(--button-hover);
}

.caroCarrousel div a:focus{
    text-decoration: none;
    background-color: var(--button-focus);
    outline: none;
}

.caroCarrousel div a:active {
    text-decoration: none;
    background-color: var(--button-active);
    font-weight: bold;
}


/* poster */
.caroCarrousel li > a  {
    display:block;
    width:100%;
    height:100%;
}
.caroCarrousel li > a img {
    display:block;
    width:100%;
    height:100%;
    object-fit: cover;
    object-position: center;
}

/* MIN WITH 45EM - carousel */
@media (min-width:46em) {
    .caroCarrousel > ul li {
        width: 43.125em;
        height: 23em;
    }

    .caroCarrousel > ul li div {
        grid-template-columns: max-content max-content 1fr 6em;
        grid-template-rows:max-content;
        align-content: end;
        align-items: center;
        justify-items: start;

        padding:1em;
    }

    /* apple tv+ */
    /* titel */
    .caroCarrousel li div > img:nth-of-type(1),
    .caroCarrousel li div img:nth-of-type(2) {
        position: absolute;
        left:-9999em;
    }

    /* genre en omschrijving */
    .caroCarrousel li div h3, 
    .caroCarrousel li div p {
        text-align: left;
        font-size: 1.25em;
    }

    .caroCarrousel li div h3 {
        order:30;
        text-align: center;
    }

    .caroCarrousel li div h3::after {
        content:"\00a0\2022\00a0";
    }

    /* Stream nu button */
    .caroCarrousel li div a {
        order:20;
        margin:0 1em 0 0;
    }
}

@media (min-width:66.75em) {
    .caroCarrousel > ul li {
        width: 61.125em;
        height: 32.75em;
    }

    .caroCarrousel > ul li div {
        grid-template-columns: max-content max-content 1fr 10em;

        padding:2em 4em;
    }

    .caroCarrousel li div a {
        margin:0 2em 0 0;
    }
}

@media (min-width:90em) {
    .caroCarrousel > ul li {
        width: 78.125em;
        height: 42em;
    }

    .caroCarrousel > ul li div {
        padding:3em 4em;
    }

    .caroCarrousel li div a {
        margin:0 3em 0 0;
    }
}