/* CSS REMEDY */
*, *::after, *::before {
    box-sizing:border-box;  
    font-family: 'SF Pro';
}

button, summary {
    cursor: pointer;
}



/* Fonts */
@font-face {
    font-family: 'SF-Pro Display Regular';
    src: url(../fonts/SF-Pro-Display-Regular.otf) format('opentype');
}

@font-face {
    font-family: 'SF Pro';
    src: url(../fonts/SF-Pro.ttf) format('truetype');
}  

@font-face {
    font-family: 'SF Pro Text' ;
    src: url(../fonts/SF-Pro-Text-Light.otf) format('opentype');
}


  

/* Custom properties */
:root {
    /* Header */
    --header-color1: rgba(0,0,0,0.8);
    --header-color2: #6e6e73;

    /* Nav */
    --p-nav-color: #CCCCCC;

    /* Hamburgermenu */
    --burger-button-color: #6e6e73;
    --searchbar-color: #1D1D1F; 
    --burger-lines-color: #424245;
    --burgerground-color: black; 

    /* Zoekbalk */
    --label-color: #1F74C5;

    /* Main */
    --p-color:black;
    --p-color2: white;
    --background-color1:white;
    --background-color2: black;   

    /* Footer */
    --p-footer: #6e6e73;
    --background-footer: #F5F5F7;
    --border-footer: #D2D2D7;

    /* linkjes */
    --a-color: #06c;

    /* Button */
    --carbutton-klein: rgba(0,0,0,0.16);
    --carbutton-klein-hover: rgba(0,0,0,0.25);
    --carbutton-klein-active: rgba(0,0,0,0.56);
    --button-hover: #FFABBB;
    --button-focus: #FF5B7A;
    --button-active: #ff123e;

    /* Outline focus state */
    --form-border-active: rgba(0, 125, 250, 0.6);
}



/* Main */
section.wit {
    background-color: var(--background-color1);
    color: var(--p-color);
}

section.zwart {
    background-color: var(--background-color2);
    color: var(--p-color2);
}

section.product {
    position: relative;
    overflow: hidden;
    height: 30em;
}

section.product:nth-of-type(1) {
    margin-top: 3em;
}

section.product div {
    position: absolute;
    top:2em;
    left:0;
    right:0;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap:1em;
}

section.product div h2  {
   width:100%;
   margin:0;
}
  
section.product div p{
    width:100%;
    margin:0;

    display:flex;
    justify-content: center;
    align-items: center;
    gap:.25em;
}

section.product div p:first-of-type {
    margin-top:.5em;
}

section.product div p:last-of-type {
    margin-bottom:1em;
}

section.product div p img{
    width:2em;
}

section.product div a::after {
    content:" >";
}

section.product > a {
    display:block;
    height:100%;
}

section.product > a img {
    display:block;
    width:100%;
    height:100%;
    object-fit: cover;
    object-position: center bottom;
}

    /* Min width: 45em */

@media (min-width:45em) {
    main {
        display: grid;
        grid-template-columns:1fr 1fr;
        gap:0.5em;
    }

    /* Eerste 3 secties (blijven breed) */
    main section:nth-of-type(1), 
    main section:nth-of-type(2), 
    main section:nth-of-type(3), 
    .carousel {
        grid-column-start: 1;
        grid-column-end: -1;
    }
    main section.product:nth-of-type(1), 
    main section.product:nth-of-type(2), 
    main section.product:nth-of-type(3) {
        position: relative;
        overflow: hidden;
        height: 40em;
    }

    main section:nth-of-type(1) h2, 
    main section:nth-of-type(2) h2, 
    main section:nth-of-type(3) h2  {
        font-size: 3em ;
    }

    main section:nth-of-type(1) p, 
    main section:nth-of-type(2) p, 
    main section:nth-of-type(3) p  {
        font-size: 1.5em;
    }

    section.product:nth-of-type(1) > a img, 
    section.product:nth-of-type(2) > a img, 
    section.product:nth-of-type(3) > a img {
        object-fit: contain;
        object-position: center bottom;
    }
}



    
/* Carousel */
.carousel ul {
    /* width: 40%;  */
    position: relative;
    /* margin-left: 32.5% ; */
    display: flex;
    overflow: scroll;
    /* height: 100%; */
}

.carousel li{
    position: relative;
    height: 35em;
    width: 100%;
    list-style: none;
}


.carousel li div {
    /* height: 30em; */
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* display: grid;
    justify-items: center;
    grid-template-rows:[row1-start] 10%  [row2-start] 4% [row3-start] 48% [row4-start] 22% ; */
    height: 100%;
    gap: 1em;
}

.carousel div > img:nth-of-type(1){
    width: 15%;
    align-self: center;
    margin-top: 1em;
}

.carousel div img:nth-of-type(2) {
    width: 60%;
    align-self: center;
    order: 2;
}
  
.carousel li h3, 
.carousel li p:nth-child(2) {
    text-align: center;
    color: var(--p-color2);
}

.carousel li h3 {
    order: 3;
    margin: 10em 0 0 0;
}

.carousel li p:nth-child(2) {
    margin-top: 0;
    order: 4;
}

.grootimg img {
    display:block;
    width:100%;
    height:100%;
    object-fit: cover;
    object-position: center ;
}

    /* Stream nu button */
.streambutton{
    display: flex;
    align-self: center;
    justify-content: center;
    color: var(--p-color);
    background-color: var(--p-color2);
    height: 3em;
    width: 10em;
    border-radius: 2em;
    font-weight: bold;
    left: 50%;
    order: 5;
}

.streambutton img {
    height: 60%;
    padding-left: .5em;
    align-self: center;
}

.streambutton p {
    align-self: center;
    padding-right: 0.1em;
}

        /* States Stream nu button */
.streambutton:hover {
    text-decoration: none;
    background-color: var(--button-hover);
}

.streambutton:hover {
    text-decoration: none;
    background-color: var(--button-hover);
}

.streambutton:focus{
    text-decoration: none;
    background-color: var(--button-focus);
    outline: none;
}

.streambutton:active {
    text-decoration: none;
    background-color: var(--button-active);
    font-weight: bold;
}


    /* Ronde navigatie knopjes beneden */
.carousel > div:last-of-type button {
    height: 1.68vh;
    border-radius: 1em;
    border: none;
    background-color: var(--carbutton-klein);
    margin: 0 .3em;
}

    /* States Ronde navigatie knopjes beneden */
.carousel > div:last-of-type button:hover {
    background-color: var(--carbutton-klein-hover);
}

.carousel > div:last-of-type button:focus {
    background-color: var(--carbutton-klein-hover);
    outline-color: .1em var(--form-border-active)
}

.carousel > div:last-of-type button:active {
    background-color: var(--carbutton-klein-active);
}