/* CSS REMEDY */
*, *::after, *::before {
    box-sizing:border-box;  
    font-family: 'SF Pro';
}

button, summary {
    cursor: pointer;
}



/* Fonts */
@font-face {
    font-family: 'SF-Pro Display Regular';
    src: url(../fonts/SF-Pro-Display-Regular.otf) format('opentype');
}

@font-face {
    font-family: 'SF Pro';
    src: url(../fonts/SF-Pro.ttf) format('truetype');
}  

@font-face {
    font-family: 'SF Pro Text' ;
    src: url(../fonts/SF-Pro-Text-Light.otf) format('opentype');
}


  

/* Custom properties */
:root {

    /* Body */
    --text-color: #1d1d1f;

    /* Header */
    --header-color1: rgba(0,0,0,0.8);
    --header-color2: #6e6e73;

    /* Nav */
    --p-nav-color: #CCCCCC;

    /* Hamburgermenu */
    --burger-button-color: #6e6e73;
    --searchbar-color: #1D1D1F; 
    --burger-lines-color: #424245;
    --burgerground-color: black; 

    /* Zoekbalk */
    --label-color: #1F74C5;

    /* Main */
    --p-color:black;
    --p-color2: white;
    --background-color1:white;
    --background-color2: black;   

    /* Footer */
    --p-footer: #6e6e73;
    --background-footer: #F5F5F7;
    --border-footer: #D2D2D7;

    /* linkjes */
    --a-color: #06c;
    --a-visited: #551A8B;

    --form-border-active: rgba(0, 125, 250, 0.6);
}

/* Body */
body{ 
    margin: 0;
    line-height: 1.47059;
    letter-spacing: -0.022em;
    color: var(--text-color);
}

h2 {
    font-family: 'SF-Pro Display Regular';
}

main {
    text-align: center;
}

h2 {
    font-size: 2em;
    font-weight: 600;
    line-height: 1.125em;
}

main p {
    font-size: 1.125em;
    font-family: 'SF Pro Text';
}

main a {
    text-decoration: none;
    color: var(--a-color)
}

/* States main Linkjes */
main a:hover {
    text-decoration: underline;
    text-decoration-thickness: 0.08em;
    text-underline-offset: 0.3em;
    text-decoration-color: var(--a-color);
}

main a:focus{
    text-decoration: underline;
    text-decoration-thickness: 0.08em;
    text-underline-offset: 0.3em;
    text-decoration-color: var(--a-color);
    font-weight: bold;
    outline-color: .1em var(--form-border-active);
}

main a:active {
    text-decoration: underline;
    text-decoration-thickness: 0.08em;
    text-underline-offset: 0.3em;
    text-decoration-color: var(--text-color);
    color: var(--text-color);
    font-weight: bold;
}

main a:visited {
    /* color: var(--a-visited);
    text-decoration-color: var(--a-visited); */
    text-decoration-thickness: 0.08em;
    text-underline-offset: 0.3em;
}



img {
    height: auto;
}



/* Nav (altijd aanwezig) */
header {
    padding: 1em;
    height: 3em;
    background-color: var(--header-color1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position:fixed;
    z-index: 100;
    width: 100%;
    
}

header a {
    padding: 0.5em ;
}

header > h1 {
    z-index: 100;
}

img.navimg {
    width: auto;
    height: auto;
}

button.hamburgerbutton{
    background-color: transparent;
    border: 0;
    order: -100;
}


    /* States open nav Linkjes */
header nav a:hover {
    text-decoration: underline;
    text-decoration-thickness: 0.09em;
    text-underline-offset: 0.3em;
    text-decoration-color: var(--p-color2);
    color: var(--p-color2);
}

header nav a:focus{
    text-decoration: underline;
    text-decoration-color: var(--p-color2);
    text-decoration-thickness: 0.09em;
    text-underline-offset: 0.3em;
    font-weight: bold;
}

header nav a:active {
    text-decoration: none;
    color: var(--p-color2);
}




    /* Hamburgermenu button */
button > span {
    display: block;
    width: 15px;
    height: 0.11em;
    margin-bottom: 5px;
    position: relative;
    background: var(--burger-button-color);
    border-radius: 3px;
    z-index: 100;
    transition: 0.5s ease;
}

.hamburgerbutton.clicked .span1 {
    transform: rotate(45deg);
    top: 0.55em;
}
  
.hamburgerbutton.clicked .span2 {
    transform: rotate(-45deg);
}

    /* States open nav Linkjes */
.hamburgerbutton:hover {
    background: 10px white;
}

/* .hamburgerbutton:hover:focus{
}

.hamburgerbutton:hover:active {
} */



/* Hamburgermenu */
header nav{
    display: grid;
    align-content: start;
    gap: 1em;
    background-color: var(--burgerground-color);
    position: fixed;
    inset: 0;
    transform: translateY(-100%);
    transition: .5s;
    padding: 0.5em;
    z-index: 50;
}


    /* Navigatie openen */
header nav.open {
    transform: translateY(0%);
}

header nav ul {
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 0.1em;
    padding: 0 30px 0 25px;
    font-size: 17px;
}

header nav li {
    border: none;
    display: flex;
    flex-direction: row;
    border-bottom: solid 0.1em var(--searchbar-color);
}

a.navLink {
    text-decoration: none;
    color: var(--p-nav-color);
    height: 2.5em;
}


    /* Zoekbalk */
.zoekform {
    display: flex;
    align-items: center;
    font-size: 1em;
    background-color: var(--searchbar-color);
    border-radius: 0.5em;
    margin-top: 2.5em;
}
      
.zoekform input[type="text"] {
    display: block;
    padding: 0.5em;
    border: none;
    font-size: 17px;
    background-color: var(--searchbar-color);
    border-radius: 0.5em;
    color: var(--burger-button-color);
    background-image: url(../images/mobile_homepage/zoekicoon.svg);
    background-repeat: no-repeat;
    background-position-x: 0.5em;
    background-position-y: center ;
    padding-left: 2em;
    appearance: none;
    transition: 1s;
}

input:focus {
    padding: .8em .5em .2em;
    transition: 1s;
}

.zoekform label {
    position: absolute;
    height: 1.5em;
    width: 100%;
    top: 0;
    left: 0;
    padding: .5em;
    display: flex;
    align-items: center;
    transition: 1s;
    display: none;
    color: var(--label-color);

}

.zoekform input:focus + label {
    transform: translateY(-.5em);
    display: contents;
}

img.zoekicoon {
    height: 1em;
    display: none;
}



/* Lijn tussen zoekbalk en categorieën */
span.lijn {
    background: var(--searchbar-color);;
    width: 100%;
    height: 0.1em;
    position: block;
}

    /* Min width: 45em */
@media (min-width:51em) {

    header {
        backdrop-filter: saturate(180%) blur(20px);
        display: flex;
        justify-content: center;
    }
    
    header nav {
        position: static;
        transform: none;
        /* display: flex; */
        /* justify-content: space-between; */
        width: 100%;
        background-color: transparent;
        align-items: center;
        max-width: 850px;
    }
    
    button.hamburgerbutton {
        display: none;
    }

    header > a{
        order: 100;
    }
    
    header nav ul {
        flex-direction: row;
        padding:0;
        background:none;
        font-size: 12px;
        justify-content: space-between;
        width: 100%;
    }

    header nav li {
        border-bottom: none;
    }
    
    header nav a {
        border:none;
        z-index: 1;
    }

    .zoekform{
        display: none;
    }

    .zoekform input[type="text"] {
        display: none;
    } 

    img.zoekicoon {
        display: block;
        order: 2;
        align-content: center;
        padding: 0 1em;
        
    }
    
    span.lijn {
        display: none;
    }

    img.navimg {
        width: 0.8em;
        align-self: center;
    }
}


  
/* Footer */
footer {
    padding: 0.5em 0;
    background-color: var(--background-footer);
    font-size: 0.75em;
    z-index: 1;
    
}

/* footer nav {
    /* display: flex; */
    /* flex-direction: column;
} */

footer section ul {
    display: none;
    list-style: none;
    padding-bottom: 1em;
}

footer section ul.open {
    display: block;
}

footer section ul li a{
    color: var(--p-footer);
}

footer section li {
    margin-bottom: 0.8em;
}

footer section {
    /* display: flex; */
    justify-content: space-between;
    align-items: center;
    color: var(--p-footer);
}

footer h4 {
    font-family: 'SF Pro Text';
    font-weight: 100;  
    border-bottom: solid 0.1em var(--border-footer);
    padding: 0.5em 1em;
    align-content: center;
    display: flex;
    justify-content: space-between;
}

footer p {
    padding: .2em 1em;
    color: var(--p-footer);
    font-family: 'SF Pro Text';
    /* font-size: 0.9em; */
}

footer > a, 
footer > ul:last-of-type {
    padding-left: 1em;
    color: var(--p-footer);
}

footer > ul:last-of-type {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

footer > ul:last-of-type a {
    color: var(--p-footer);
    border-right: 0.0625em solid var(--border-footer);
    margin-right: 0.4375em;
    padding-right: 0.625em;
    margin-top:  0.3125em;
}

footer section h4::after{
    content: '+';
    color: var(--p-color);
    position: relative;
    transition: .405s;
    font-size: 1.5em;
}

footer section h4.open::after{
    rotate: 405deg;
}

footer a {
    text-decoration: none;
}

footer p a {
    color: var(--a-color);
}

    /* States Footer Linkjes */
footer a:hover {
    text-decoration: underline;
    text-decoration-thickness: 0.08em;
    text-underline-offset: 0.1em;
    text-decoration-color: var(--p-footer);
}

footer a:focus{
    text-decoration: underline;
    text-decoration-color: var(--p-footer);
    text-decoration-thickness: 0.08em;
    text-underline-offset: 0.1em;
    font-weight: bold;
    outline-color: .1em var(--form-border-active);
}

footer a:active {
    text-decoration: underline;
    text-decoration-thickness: 0.08em;
    text-underline-offset: 0.3em;
    text-decoration-color: var(--a-color);
    color: var(--a-color);
}

/* footer a:visited {
    color: var(--a-visited);
    text-decoration-color: var(--a-visited);
} */



    /* Footer min-width 45em */
@media (min-width:45em) {

    footer {
        padding: 0 5em;
    }

    footer section ul {
        display: block;
        list-style: none;
        padding-left: 0;
        padding-bottom: 1em;
    }

    footer section li a {
        color: var(--p-footer);
    }

    footer button {
        display: none;
    }

    footer section {
        display: block;
        padding-right: 2.5em;
        border-bottom: none;
        width: 13em;
    }

    footer nav {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding-top: 2em;
    }

    footer span {
        display: block;
        height: 0.0625em;
        width: 95%;
        align-self:  center;
        background-color: var(--border-footer);
        margin-bottom: 0.5em;
    }

    footer section li {
        margin-bottom: 0.5em;
    }

    footer p {
        margin: 0;
    }

    footer h4 {
        color: var(--p-color);
        font-weight: bold;
        border-bottom: none;
        padding: 0;
        margin: 0;
    }

    footer > a {
        float: right;
    }

    footer section h4::after{
        display: none;
    }
}