/* CSS REMEDY */
*, *::after, *::before {
    box-sizing:border-box;  
    font-family: 'SF Pro';
}

button, summary {
    cursor: pointer;
}



/* FONTS */
@font-face {
    font-family: 'SF-Pro Display Regular';
    src: url(../fonts/SF-Pro-Display-Regular.otf) format('opentype');
}

@font-face {
    font-family: 'SF Pro';
    src: url(../fonts/SF-Pro.ttf) format('truetype');
}  

@font-face {
    font-family: 'SF Pro Text' ;
    src: url(../fonts/SF-Pro-Text-Light.otf) format('opentype');
}


  

/* CUSTOM PROPERTIES */
:root {

    /* Body */
    --text-color: #1d1d1f;

    /* Header */
    --header-color1: rgba(0,0,0,0.8);
    --header-color2: #6e6e73;

    /* Nav */
    --p-nav-color: #CCCCCC;

    /* Hamburgermenu */
    --burger-button-color: #6e6e73;
    --searchbar-color: #1D1D1F; 
    --burger-lines-color: #424245;
    --burgerground-color: black; 

    /* Zoekbalk */
    --label-color: #1F74C5;

    /* Main */
    --p-color:black;
    --p-color2: white;
    --background-color1:white;
    --background-color2: black;   

    /* Footer */
    --p-footer: #6e6e73;
    --background-footer: #F5F5F7;
    --border-footer: #D2D2D7;

    /* linkjes */
    --a-color: #06c;
    --a-visited: #551A8B;

    --form-border-active: rgba(0, 125, 250, 0.6);
}

/* BODY */
body{ 
    margin: 0;
    line-height: 1.47059;
    letter-spacing: -0.022em;
    color: var(--text-color);
}

main {
    text-align: center;
}

h2 {
    font-family: 'SF-Pro Display Regular';
    font-size: 2em;
    font-weight: 600;
    line-height: 1.125em;
}

img {
    height: auto;
}

main p {
    font-size: 1.125em;
    font-family: 'SF Pro Text';
}

main a {
    text-decoration: none;
    color: var(--a-color);
}

/* STATES - main Linkjes */
    /* Hover */
main a:hover {
    text-decoration: underline;
    text-decoration-thickness: 0.08em;
    text-underline-offset: 0.3em;
    text-decoration-color: var(--a-color);
}
    /* Focus */
main a:focus{
    text-decoration: underline;
    text-decoration-thickness: 0.08em;
    text-underline-offset: 0.3em;
    text-decoration-color: var(--a-color);
    font-weight: bold;
    outline-color: .1em var(--form-border-active);
}
    /* Active */
main a:active {
    text-decoration: underline;
    text-decoration-thickness: 0.08em;
    text-underline-offset: 0.3em;
    text-decoration-color: var(--text-color);
    color: var(--text-color);
    font-weight: bold;
}
    /* Visited */
/* main a:visited {
    color: var(--a-visited);
    text-decoration-thickness: 0.08em;
    text-underline-offset: 0.3em;
} */






/* Nav (altijd aanwezig) */
header {
    padding: 0 1em;
    height: 3em;
    background-color: var(--header-color1);

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:.5em;
    top:0;

    z-index: 100;
    width: 100%;

    transition: .5s;
}

/* beetje een trucje dat alleen in chrome werkt */
header:has(nav input:focus) {
   margin-top:-2em;
}


/* alle links in beide navs */
header a {
    display:block;
    padding: 0.5rem ;
}


/* apple logo & cart */
header > h1 {
    z-index: 100;
    margin: 0;
}

/* img.navimg { */
header a > img {
    display:block;
    width: 1rem;
    height: auto;
}

/* STATES - Apple logo en winkelwagen  */
    /* Hover */
@keyframes iconen-draaien {
    0% {
        transform:rotate(0);
    }
    40% {
        transform:rotate(72deg);
    }
    100% {
        transform:rotate(360deg);
    }
}

header a > img:hover {
    animation-name: iconen-draaien;
    animation-duration: .5s;
    animation-timing-function: linear;
}



/* Hamburgermenu button */
header > button {
    position: relative;
    /* hier ipv op de spans */
    z-index: 100;

    order: -100;

    width:2em;
    height:2em;

    display:grid;
    place-items:center;
    place-content:center;

    font-size: 1em;

    background-color: transparent;
    border: 0;
}

header > button span {
    position: absolute;
   
    display: block;
    width: 1em;
    height: 0.11em;
    
    background: var(--burger-button-color);
    border-radius: 3px;
   
    transition: 0.5s ease;
}

header > button span:nth-of-type(1) {
    transform: translateY(-.225em);
}
header > button span:nth-of-type(2) {
    transform: translateY(.225em);
}

header > button.clicked span:nth-of-type(1) {
    transform: rotate(45deg);
}
header > button.clicked span:nth-of-type(2) {
    transform: rotate(-45deg);
}

/* STATES - hamburger button */
    /* Hover */
@keyframes burger-draaien {
    0% {
        transform:rotate(0);
    }
    40% {
        transform:rotate(72deg);
    }
    100% {
        transform:rotate(360deg);
    }
}

header > button:hover {
    animation-name: burger-draaien;
    animation-duration: .5s;
    animation-timing-function: linear;
}


/* Hamburgermenu */
header nav{
    position: fixed;
    inset: 0;
    z-index: 50;

    padding: 0.5em;

    display: grid;
    align-content: start;
    gap: 1em;
    background-color: var(--burgerground-color);
    
    transform: translateY(-100%);
    transition: .5s;
}


 /* Navigatie openen */
header nav.open {
    transform: translateY(0%);
}

/* beetje een trucje dat alleen in chrome werkt */
header nav:has(input:focus) {
    margin-top:-2em;
}

header nav ul {
    margin: 0;
    list-style: none;

    display: flex;
    flex-direction: column;
    gap: 0.1em;

    padding: 0 2em 0 1.5em;
    font-size: 1em;

    transition:.5s;
}

/* beetje een trucje dat alleen in chrome werkt */
header nav:has(input:focus) ul {
    opacity:0;
}

header nav li {
    border-bottom: solid 0.1em var(--searchbar-color);
}

/* a.navLink { */
header nav a {
    text-decoration: none;
    color: var(--p-nav-color);
    height: 2.5em;
}

/* STATES open nav Linkjes */
    /* Hover */
header nav a:hover {
    text-decoration: underline;
    text-decoration-thickness: 0.09em;
    text-underline-offset: 0.3em;
    text-decoration-color: var(--p-color2);
    color: var(--p-color2);
}
    /* Focus */
header nav a:focus{
    text-decoration: underline;
    text-decoration-color: var(--p-color2);
    text-decoration-thickness: 0.09em;
    text-underline-offset: 0.3em;
    font-weight: bold;
}
    /* Active */
header nav a:active {
    text-decoration: none;
    color: var(--p-color2);
}





/* Zoekbalk */
header nav form {
    display: flex;
    gap:.5em;
    margin-top: 2.5em;

    padding-bottom:1em;
    border-bottom:solid 0.1em var(--searchbar-color);
}

/* label voor zoekveld */
header nav form label {
    position: absolute;
    left:-9999em;
}

header nav form input[type="search"] {
    display: block;
    padding: 0.5em;
    padding-left: 2em;
    flex-grow:1;
    
    font-size: 1em;

    appearance: none;
    background-color: var(--searchbar-color);
    background-image: url(../images/mobile_homepage/zoekicoon.svg);
    background-repeat: no-repeat;
    background-position-x: 0.5em;
    background-position-y: center;
    border: none;
    border-radius: 0.5em;

    color: var(--burger-button-color);

}


/* annuleer button */
header nav form input + button {
    display:none;
    font-size: 1em;

    appearance: none;
    background: none;
    border:none;

    color:var(--a-color);
}

header nav form input:focus + button {
    display:block;
}

/* zoek button op groot scherm */
header > img {
    height: 1em;
    display: none;
}


/* Min width: 45em */
@media (min-width:51em) {

    header {
        backdrop-filter: saturate(180%) blur(20px); /* cool :-) */
        justify-content: center;
    }
    
    header nav {
        position: static;
        transform: none;
        width: 100%;
        max-width: 850px;

        background-color: transparent;
    }
    
    /* hamburgerbutton */
    header > button {
        display: none;
    }

    /* winkelwagen */
    header > a {
        order: 100;
    }
    
    header nav ul {
        flex-direction: row;
        padding:0;
        background:none;
        font-size: 12px;
        justify-content: space-between;
        width: 100%;
    }

    header nav li {
        border-bottom: none;
    }

    header nav form {
        display: none;
    }

    /* zoekicoon */
    header > img {
        display: block;

        width:1em;
        height:auto;
        margin:.5em;

        order: 50;
    }
}


  
/* FOOTER */
footer {
    padding: 0.5em 0;
    background-color: var(--background-footer);
    font-size: 0.75em;
    z-index: 1;
}

footer section {
    justify-content: space-between;
    align-items: center;
    color: var(--p-footer);
}

footer section ul {
    display: none;
    list-style: none;
    padding-bottom: 1em;
}

footer section ul.open {
    display: block;
}

footer section ul li a{
    color: var(--p-footer);
}

footer section li {
    margin-bottom: 0.8em;
}

footer h4 {
    font-family: 'SF Pro Text';
    font-weight: 100;  
    border-bottom: solid 0.1em var(--border-footer);
    padding: 0.5em 1em;
    align-content: center;
    display: flex;
    justify-content: space-between;
}

footer section h4::after{
    content: '+';
    color: var(--p-color);
    position: relative;
    transition: .405s;
    font-size: 1.5em;
}

footer section h4.open::after{
    rotate: 405deg;
}

footer p {
    padding: .2em 1em;
    color: var(--p-footer);
    font-family: 'SF Pro Text';
}

footer > a, 
footer > ul:last-of-type {
    padding-left: 1em;
    color: var(--p-footer);
}

footer > ul:last-of-type {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

footer > ul:last-of-type a {
    color: var(--p-footer);
    border-right: 0.0625em solid var(--border-footer);
    margin-right: 0.4375em;
    padding-right: 0.625em;
    margin-top:  0.3125em;
}

footer a {
    text-decoration: none;
}

footer p a {
    color: var(--a-color);
}

/* STATES - Footer Linkjes */
    /* Hover */
footer a:hover {
    text-decoration: underline;
    text-decoration-thickness: 0.08em;
    text-underline-offset: 0.1em;
    text-decoration-color: var(--p-footer);
}
    /* Focus */
footer a:focus{
    text-decoration: underline;
    text-decoration-color: var(--p-footer);
    text-decoration-thickness: 0.08em;
    text-underline-offset: 0.1em;
    font-weight: bold;
    outline-color: .1em var(--form-border-active);
}
    /* Active */
footer a:active {
    text-decoration: underline;
    text-decoration-thickness: 0.08em;
    text-underline-offset: 0.3em;
    text-decoration-color: var(--a-color);
    color: var(--a-color);
}


/* MIN-WITH 45EM - Footer */
@media (min-width:45em) {

    footer {
        padding: 0 5em;
    }

    footer section ul {
        display: block;
        list-style: none;
        padding-left: 0;
        padding-bottom: 1em;
    }

    footer section li a {
        color: var(--p-footer);
    }

    footer button {
        display: none;
    }

    footer section {
        display: block;
        padding-right: 2.5em;
        border-bottom: none;
        width: 13em;
    }

    footer nav {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding-top: 2em;
    }

    footer span {
        display: block;
        height: 0.0625em;
        width: 95%;
        align-self:  center;
        background-color: var(--border-footer);
        margin-bottom: 0.5em;
    }

    footer section li {
        margin-bottom: 0.5em;
    }

    footer p {
        margin: 0;
    }

    footer h4 {
        color: var(--p-color);
        font-weight: bold;
        border-bottom: none;
        padding: 0;
        margin: 0;
    }

    footer > a {
        float: right;
    }

    footer section h4::after{
        display: none;
    }
}